<form [formGroup]="profileForm" (ngSubmit)="submitHandler()">
  <!--value: {{profileForm.value  | json}}
  <br />
  user: {{user  | json}}-->
  <h1>Profile</h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="row"><img [src]="imageSrc" id="bigPofileImg" > </div>
      <div class="row">
        <input type="file" (change)="onFileSelected($event)" #fileInput multiple />
      </div>
      
    </div>
    <div class="col-sm-9">
      <!-- first name -->
      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" formControlName="firstName" class="form-control" id="profileFirstName" placeholder="First Name" [(ngModel)]="user.firstName">
        </mat-form-field>
      </div>
      <!-- last name -->
      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" formControlName="lastName" class="form-control" id="profileLastName" placeholder="Last Name" [(ngModel)]="user.lastName">
        </mat-form-field>
      </div>
      <!-- email -->
      <div class="form-group">
        <mat-form-field>
          <input matInput type="email" formControlName="email" class="form-control" id="profileEmail" placeholder="Email" [(ngModel)]="user.email">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid" >Submit</button>
        </div>
  </div>
 
  <!-- image -->
  <!-- <div class="form-group">
    <mat-form-field>
      <input matInput type="file" formControlName="file" class="form-control" id="profileFile" placeholder="Email" [(ngModel)]="user.email">
    </mat-form-field>
  </div> -->
  
</form>
