/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


$font-stack: Roboto, Helvetica, sans-serif;
$primary-color: #00BDF3;
$primary-color-light: #B9EDFB;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-stack;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.even {
  background-color: $primary-color;
}

.odd {
  background-color: $primary-color-light;
}
.navbar {
  background-color: $primary-color;
  color: #ffffff;
  
}
.navbar a{
  color: #ffffff;
}
a:hover{
  color: deeppink;
}


.dashboard {
  padding: 5px 10px;
}

.dashboardPosts {
  border-radius: 25px;
  border: 2px solid $primary-color;
  padding: 20px;
  height: 150px;
  background-color: rgba($primary-color, .3);
}
