/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.even {
  background-color: #00BDF3;
}

.odd {
  background-color: #B9EDFB;
}
.navbar {
  background-color: #00BDF3;
  color: #ffffff;
  
}
.navbar a{
  color: #ffffff;
}
a:hover{
  color: deeppink;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

