<div class="row panel">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
       Source
      </div>
      <div class="col-sm-4">
       Message
      </div>
      <div class="col-sm-2">
       UserName
      </div>
      <div class="col-sm-2">
       DateCreated
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" *ngFor="let log of logs;">
    <div class="row logPanel" [class.logError]="log.logType == 0" [class.logInfo]="log.logType == 3" [class.logPass]="log.logType == 4" [class.logWarn]="log.logType == 1" [class.logDebug]="log.logType == 2" [class.logFail]="log.logType == 5">
      <div class="col-sm-4">
        {{ log.source }}
      </div>
      <div class="col-sm-4">
        {{ log.message }}
      </div>
      <div class="col-sm-2">
        {{ log.userId }}
      </div>
      <div class="col-sm-2">
        {{ log.dateCreated }}
      </div>
    </div>
  </div>
</div>
