<div id="build">
  <form id="target" class="form-horizontal">
    <fieldset>
      <div class="component" data-content="<form role=&quot;form&quot;>



    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Form Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='name' id='name' value ='Sign Up' />
	</div>
</div>
    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Form Name" data-trigger="manual" data-html="true"><!-- Form Name -->
<legend>Sign Up</legend>
</div><div class="component" data-content="<form role=&quot;form&quot;>













    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='firstName' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='First Name' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Placeholder </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='placeholder' id='placeholder' value ='First Name' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Help Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='helptext' id='helptext' value ='' />
	</div>
</div><div class=&quot;checkbox&quot;>
	<label>
	  <input type=&quot;checkbox&quot; data-type=&quot;checkbox&quot; class=&quot;field&quot; name=&quot;required&quot; id=&quot;required&quot; checked=&quot;checked&quot; >
	  Required
	</label>
</div>
<div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Input Size </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='inputsize'>

		  <option value=&quot;col-md-1&quot;  >Mini</option>

		  <option value=&quot;col-md-2&quot;  >Small</option>

		  <option value=&quot;col-md-4&quot;  selected  >Medium</option>

		  <option value=&quot;col-md-5&quot;  >Large</option>

		  <option value=&quot;col-md-6&quot;  >Xlarge</option>

		  <option value=&quot;col-md-8&quot;  >Xxlarge</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Text Input" data-trigger="manual" data-html="true" data-original-title="" title=""><!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstName">First Name</label>
  <div class="col-md-4">
  <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control input-md" required="">

  </div>
</div>
</div><div class="popover fade left in" style="top: -87.5px; left: -255px; display: none;">
        <div class="arrow"></div><h3 class="popover-title">Text Input</h3><div class="popover-content">
          <form role="form">













            <div class="form-group">
              <label class="col-md-12 control-label"> ID / Name </label>
              <div class="col-md-10">
                <input class="form-control field" data-type="input" type="text" name="id" id="id" value="firstName">
              </div>
            </div><div class="form-group">
              <label class="col-md-12 control-label"> Label Text </label>
              <div class="col-md-10">
                <input class="form-control field" data-type="input" type="text" name="label" id="label" value="First Name">
              </div>
            </div><div class="form-group">
              <label class="col-md-12 control-label"> Placeholder </label>
              <div class="col-md-10">
                <input class="form-control field" data-type="input" type="text" name="placeholder" id="placeholder" value="First Name">
              </div>
            </div><div class="form-group">
              <label class="col-md-12 control-label"> Help Text </label>
              <div class="col-md-10">
                <input class="form-control field" data-type="input" type="text" name="helptext" id="helptext" value="">
              </div>
            </div><div class="checkbox">
              <label>
                <input type="checkbox" data-type="checkbox" class="field" name="required" id="required" checked="checked">
                Required
              </label>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label"> Input Size </label>
              <div class="col-md-5">
                <select class="form-control field" data-type="select" id="inputsize">

                  <option value="col-md-1">Mini</option>

                  <option value="col-md-2">Small</option>

                  <option value="col-md-4" selected="">Medium</option>

                  <option value="col-md-5">Large</option>

                  <option value="col-md-6">Xlarge</option>

                  <option value="col-md-8">Xxlarge</option>

                </select>
              </div>
            </div>

            <hr>
            <button id="save" class="btn btn-info col-md-4">Save</button>&nbsp;<button id="cancel" class="btn btn-danger">Cancel</button>
          </form>
        </div>
      </div><div class="component" data-content="<form role=&quot;form&quot;>













    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='lastName' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='Last Name' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Placeholder </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='placeholder' id='placeholder' value ='Last Name' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Help Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='helptext' id='helptext' value ='' />
	</div>
</div><div class=&quot;checkbox&quot;>
	<label>
	  <input type=&quot;checkbox&quot; data-type=&quot;checkbox&quot; class=&quot;field&quot; name=&quot;required&quot; id=&quot;required&quot; checked=&quot;checked&quot; >
	  Required
	</label>
</div>
<div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Input Size </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='inputsize'>

		  <option value=&quot;col-md-1&quot;  >Mini</option>

		  <option value=&quot;col-md-2&quot;  >Small</option>

		  <option value=&quot;col-md-4&quot;  selected  >Medium</option>

		  <option value=&quot;col-md-5&quot;  >Large</option>

		  <option value=&quot;col-md-6&quot;  >Xlarge</option>

		  <option value=&quot;col-md-8&quot;  >Xxlarge</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Text Input" data-trigger="manual" data-html="true"><!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastName">Last Name</label>
  <div class="col-md-4">
  <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control input-md" required="">

  </div>
</div>
</div><div class="component" data-content="<form role=&quot;form&quot;>













    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='emailAddress' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='Email Address' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Placeholder </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='placeholder' id='placeholder' value ='Email Address' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Help Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='helptext' id='helptext' value ='' />
	</div>
</div><div class=&quot;checkbox&quot;>
	<label>
	  <input type=&quot;checkbox&quot; data-type=&quot;checkbox&quot; class=&quot;field&quot; name=&quot;required&quot; id=&quot;required&quot; checked=&quot;checked&quot; >
	  Required
	</label>
</div>
<div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Input Size </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='inputsize'>

		  <option value=&quot;col-md-1&quot;  >Mini</option>

		  <option value=&quot;col-md-2&quot;  >Small</option>

		  <option value=&quot;col-md-4&quot;  selected  >Medium</option>

		  <option value=&quot;col-md-5&quot;  >Large</option>

		  <option value=&quot;col-md-6&quot;  >Xlarge</option>

		  <option value=&quot;col-md-8&quot;  >Xxlarge</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Text Input" data-trigger="manual" data-html="true"><!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="emailAddress">Email Address</label>
  <div class="col-md-4">
  <input id="emailAddress" name="emailAddress" type="text" placeholder="Email Address" class="form-control input-md" required="">

  </div>
</div>
</div><div class="component" data-content="<form role=&quot;form&quot;>













    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='Password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Placeholder </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='placeholder' id='placeholder' value ='Password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Help Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='helptext' id='helptext' value ='' />
	</div>
</div><div class=&quot;checkbox&quot;>
	<label>
	  <input type=&quot;checkbox&quot; data-type=&quot;checkbox&quot; class=&quot;field&quot; name=&quot;required&quot; id=&quot;required&quot; checked=&quot;checked&quot; >
	  Required
	</label>
</div>
<div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Input Size </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='inputsize'>

		  <option value=&quot;col-md-1&quot;  >Mini</option>

		  <option value=&quot;col-md-2&quot;  >Small</option>

		  <option value=&quot;col-md-4&quot;  selected  >Medium</option>

		  <option value=&quot;col-md-5&quot;  >Large</option>

		  <option value=&quot;col-md-6&quot;  >Xlarge</option>

		  <option value=&quot;col-md-8&quot;  >Xxlarge</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Password Input" data-trigger="manual" data-html="true"><!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">

  </div>
</div>
</div><div class="component" data-content="<form role=&quot;form&quot;>













    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='confirmPassword' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='Confirm Password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Placeholder </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='placeholder' id='placeholder' value ='Confirm Password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Help Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='helptext' id='helptext' value ='' />
	</div>
</div><div class=&quot;checkbox&quot;>
	<label>
	  <input type=&quot;checkbox&quot; data-type=&quot;checkbox&quot; class=&quot;field&quot; name=&quot;required&quot; id=&quot;required&quot; checked=&quot;checked&quot; >
	  Required
	</label>
</div>
<div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Input Size </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='inputsize'>

		  <option value=&quot;col-md-1&quot;  >Mini</option>

		  <option value=&quot;col-md-2&quot;  >Small</option>

		  <option value=&quot;col-md-4&quot;  selected  >Medium</option>

		  <option value=&quot;col-md-5&quot;  >Large</option>

		  <option value=&quot;col-md-6&quot;  >Xlarge</option>

		  <option value=&quot;col-md-8&quot;  >Xxlarge</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Password Input" data-trigger="manual" data-html="true"><!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="confirmPassword">Confirm Password</label>
  <div class="col-md-4">
    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" class="form-control input-md" required="">

  </div>
</div>
</div><div class="component" data-content="<form role=&quot;form&quot;>















    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Button 1 ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='submit' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='Submit' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Button Label </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='button1label' id='button1label' value ='Submit' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Button Type </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='button1type'>

		  <option value=&quot;btn-default&quot;  >Default</option>

		  <option value=&quot;btn-primary&quot;  selected  >Primary</option>

		  <option value=&quot;btn-info&quot;  >Info</option>

		  <option value=&quot;btn-success&quot;  >Success</option>

		  <option value=&quot;btn-warning&quot;  >Warning</option>

		  <option value=&quot;btn-danger&quot;  >Danger</option>

		  <option value=&quot;btn-inverse&quot;  >Inverse</option>

		</select>
	</div>
</div>
<div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Button 2 ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id2' id='id2' value ='cancel' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Button Label </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='button2label' id='button2label' value ='Cancel' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Button Type </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='button2type'>

		  <option value=&quot;btn-default&quot;  >Default</option>

		  <option value=&quot;btn-primary&quot;  >Primary</option>

		  <option value=&quot;btn-info&quot;  >Info</option>

		  <option value=&quot;btn-success&quot;  >Success</option>

		  <option value=&quot;btn-warning&quot;  >Warning</option>

		  <option value=&quot;btn-danger&quot;  selected  >Danger</option>

		  <option value=&quot;btn-inverse&quot;  >Inverse</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Double Button" data-trigger="manual" data-html="true"><!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit">Submit</label>
  <div class="col-md-8">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
    <button id="cancel" name="cancel" class="btn btn-danger">Cancel</button>
  </div>
</div>
</div>
    </fieldset>
  </form>
</div>
