<p><div id="build">
  <form id="target" class="form-horizontal">
    <fieldset>
      <div class="component" data-content="<form role=&quot;form&quot;>



    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Form Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='name' id='name' value ='Sign In' />
	</div>
</div>
    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Form Name" data-trigger="manual" data-html="true"><!-- Form Name -->
<legend>Sign In</legend>
</div><div class="component" data-content="<form role=&quot;form&quot;>













    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='userName' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='User Name' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Placeholder </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='placeholder' id='placeholder' value ='User Name' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Help Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='helptext' id='helptext' value ='' />
	</div>
</div><div class=&quot;checkbox&quot;>
	<label>
	  <input type=&quot;checkbox&quot; data-type=&quot;checkbox&quot; class=&quot;field&quot; name=&quot;required&quot; id=&quot;required&quot; checked=&quot;checked&quot; >
	  Required
	</label>
</div>
<div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Input Size </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='inputsize'>

		  <option value=&quot;col-md-1&quot;  >Mini</option>

		  <option value=&quot;col-md-2&quot;  >Small</option>

		  <option value=&quot;col-md-4&quot;  selected  >Medium</option>

		  <option value=&quot;col-md-5&quot;  >Large</option>

		  <option value=&quot;col-md-6&quot;  >Xlarge</option>

		  <option value=&quot;col-md-8&quot;  >Xxlarge</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Text Input" data-trigger="manual" data-html="true"><!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="userName">User Name</label>
  <div class="col-md-4">
  <input id="userName" name="userName" type="text" placeholder="User Name" class="form-control input-md" required="">

  </div>
</div>
</div><div class="component" data-content="<form role=&quot;form&quot;>













    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='Password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Placeholder </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='placeholder' id='placeholder' value ='Password' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Help Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='helptext' id='helptext' value ='' />
	</div>
</div><div class=&quot;checkbox&quot;>
	<label>
	  <input type=&quot;checkbox&quot; data-type=&quot;checkbox&quot; class=&quot;field&quot; name=&quot;required&quot; id=&quot;required&quot; checked=&quot;checked&quot; >
	  Required
	</label>
</div>
<div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Input Size </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='inputsize'>

		  <option value=&quot;col-md-1&quot;  >Mini</option>

		  <option value=&quot;col-md-2&quot;  >Small</option>

		  <option value=&quot;col-md-4&quot;  selected  >Medium</option>

		  <option value=&quot;col-md-5&quot;  >Large</option>

		  <option value=&quot;col-md-6&quot;  >Xlarge</option>

		  <option value=&quot;col-md-8&quot;  >Xxlarge</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Password Input" data-trigger="manual" data-html="true"><!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">

  </div>
</div>
</div><div class="component" data-content="<form role=&quot;form&quot;>









    <div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> ID / Name </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='id' id='id' value ='signIn' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Label Text </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='label' id='label' value ='' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class=&quot;col-md-12 control-label&quot;> Button Label </label>
	<div class=&quot;col-md-10&quot;>
		<input class='form-control field' data-type=&quot;input&quot; type='text' name='buttonlabel' id='buttonlabel' value ='Sign In' />
	</div>
</div><div class=&quot;form-group&quot;>
	<label class='col-md-4 control-label'> Button Type </label>
	<div class=&quot;col-md-5&quot;>
		<select class=&quot;form-control field&quot; data-type=&quot;select&quot; id='buttontype'>

		  <option value=&quot;btn-default&quot;  >Default</option>

		  <option value=&quot;btn-primary&quot;  selected  >Primary</option>

		  <option value=&quot;btn-info&quot;  >Info</option>

		  <option value=&quot;btn-success&quot;  >Success</option>

		  <option value=&quot;btn-warning&quot;  >Warning</option>

		  <option value=&quot;btn-danger&quot;  >Danger</option>

		  <option value=&quot;btn-inverse&quot;  >Inverse</option>

		</select>
	</div>
</div>

    <hr/>
    <button id=&quot;save&quot; class='btn btn-info col-md-4'>Save</button>&amp;nbsp;<button id=&quot;cancel&quot; class='btn btn-danger'>Cancel</button>
</form>
" data-title="Single Button" data-trigger="manual" data-html="true"><!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signIn"></label>
  <div class="col-md-4">
    <button id="signIn" name="signIn" class="btn btn-primary">Sign In</button>
  </div>
</div>
</div>
    </fieldset>
  </form>
</div>
