<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="card-group">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-10">{{currentPost.title}}</div>
            <div class="col-sm-2">
              <button (click)="openNewCommentDialog()"  class="btn btn-outline-primary fa fa-reply-all pull-right"></button>
              <button (click)="deletePost(currentPost.postId)" *ngIf="user.isAdmin" class="btn btn-outline-danger fa fa-trash pull-right"></button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div highlight="all" [innerHTML]="currentPost.content | safe:'html'"></div>
        </div>
        <div class="card-footer">
          <div class="row justify-content-between">
            <div class="col-sm-10">Comments: <button (click)="viewComments()" class="btn btn-link" [disabled]="currentPost.comments.length < 1">{{currentPost.comments.length}}</button></div>
            <!--<app-likes [user]="user" [post]="post" class="col-sm-2"></app-likes>-->
            <div class="col-sm-2" *ngIf="isLoggedIn">
              <button (click)="upVote()" [disabled]="myVote.userVote == 1" [ngClass]="myVote.userVote == 1 ? 'btn-outline-primary' : 'btn-outline-secondary'" class="btn fa fa-thumbs-up">&nbsp;{{currentPost.likes}}</button>&nbsp;
              <button (click)="downVote()" [disabled]="myVote.userVote == -1" [ngClass]="myVote.userVote == -1 ? 'btn-outline-primary' : 'btn-outline-secondary'" class="btn fa fa-thumbs-down">&nbsp;{{currentPost.disLikes}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">&nbsp;</div>
<div *ngIf="showComments">
  <div class="row p-2" *ngFor="let comment of currentPost.comments;  let odd=odd; let even=even;">
    <div class="col-sm-12">
      <div class="card-group">
        <div class="card">
          <div class="card-header">Comment: {{comment.userName}}</div>
          <div class="card-body">
            <div highlight="all" [innerHTML]="comment.message"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-2">Likes: {{comment.likes}} </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
