<div class="row">
  <div class="col-sm-12">
    <h2 mat-dialog-title>Add New Post</h2>
    <mat-dialog-content [formGroup]="form">
      <div class="row">
        <div class="col-sm-12">
          <!-- roles  -->
          <div class="form-group">
            <mat-form-field style="width: 350px;">
              <input matInput type="text" formControlName="title" class="form-control" id="addNewPostTitle" placeholder="Post Title">
            </mat-form-field>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field style="width: 350px;">
                  <textarea matInput (change)="updatePreview()" type="text" formControlName="content" class="form-control" id="addNewPostContent" placeholder="Content"></textarea>
                </mat-form-field>
              </div>
              <div *ngIf="preview" class="col-sm-6">
                <div>
                  <div highlight="all" [innerHTML]="previewContent | safe:'html'"></div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="form-group">
            <input type="checkbox" (change)="showPreview($event); false" /> Preview Content
          </div>
        </div>
      </div>
      <!--<div>
        <input type="checkbox" (change)="showPreview($event); false" /> Preview
      </div>-->
    </mat-dialog-content>
    <mat-dialog-actions>
          <button mat-button (click)="close()">Cancel</button>
          <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
    </mat-dialog-actions>
  </div>
</div>

