

<div class="row">
  <div class="col-sm-4">
    <div class="card text-white bg-danger" *ngIf="raspberryPi" style="width: 18rem;">
      <img class="card-img-top" [src]="raspberryPi.fullThumbnailImageSrc" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{raspberryPi.title}}</h5>
        <p class="card-text">{{raspberryPi.content}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-info" *ngIf="angular" style="width: 18rem;">
      <img class="card-img-top" [src]="angular.fullThumbnailImageSrc" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{angular.title}}</h5>
        <p class="card-text">{{angular.content}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-success" *ngIf="angular" style="width: 18rem;">
      <img class="card-img-top" [src]="angular.fullThumbnailImageSrc" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{angular.title}}</h5>
        <p class="card-text">{{angular.content}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
