<div class="row justify-content-center align-items-center">
  <div class="col-sm-3">
    <div class="dashboard dashboardPosts ">
     {{dashboard.errors}}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dashboard dashboardPosts">
      2
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dashboard dashboardPosts">
      3
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dashboard dashboardPosts">
      4
    </div>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-12">
    <app-blog-widget></app-blog-widget>
  </div>
</div>
