<h2 mat-dialog-title>Add Comment</h2>
<mat-dialog-content [formGroup]="form">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <mat-form-field>
          <textarea matInput type="text" formControlName="message" class="form-control" id="addNewCommentMessage" placeholder="Comment"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
