<h2>Roles</h2>
<div class="container" style="background-color:#ffffff">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-xs-4 col-sm-4">
          RoleID:
        </div>
        <div class="col-xs-4 col-sm-7">
          Name:
        </div>
        <div class="col-xs-4 col-sm-1">
          <span class="fa fa-plus" title="Add New Role"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-3" *ngFor="let role of Roles;  let odd=odd; let even=even" [ngClass]="{ odd: odd, even: even}">
    <div class="col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-xs-4 col-sm-4">
          {{role.id}}
        </div>
        <div class="col-xs-4 col-sm-3">
          {{role.name}}
        </div>
      </div>
    </div>

  </div>
  <div class="row">&nbsp;</div>
</div>
